
$textColor: 
(
    'primary': rgb(32, 32, 114), 
    'secondary': white, 
    'other': black
);
$fontSizes: 
(
    'xlarge': 4rem,
    'large': 2rem,
    'medium': 1.1rem,
    'small': .9rem,
    'normal': normal
);
$fontWeight: 
(
    'one': 900,
    'two': bolder,
    'three': lighter
);
$color: 
(
    'background': rgb(32, 32, 114),
    'hover': rgb(34, 34, 143)
);