@import './../variables';
@import './../functions';

.jumbotron{
    background: url(../../assests/img/hero/hero-img-two.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 180px 150px;
    height: 100vh;
    position: relative;

    @include responsive{
        background: linear-gradient(rgba(255, 247, 247, 0.3),rgba(255, 247, 247, 0.3)), url(../../assests/img/hero/hero-img-two.jpg);
        background-position: bottom;
        background-size: cover;
        padding: 150px 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 93vh;
    }
    
    h1{
        font-size: map-get($fontSizes, 'xlarge');
        font-weight: map-get($fontWeight, 'one' );
        width: 60%;
        font-family: heroFont;
        font-family: 'Comfortaa', cursive;
        color: map-get($textColor, 'primary');


        @include responsive{
            margin: 20px auto;
            width: 100%;
            font-size: 2.6rem;

        }
    }
    p{
        width: 60%;
        font-weight: 900;
        color: black;

        @include responsive{
            // width: 95%;
            // margin: auto;
            display: none;
        }
    }
    .btn{
        @include btnEffect($passive: true);
        display: block;
        padding: 15px 20px;
        border-radius: 30px;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 10px;
        transition: .5s ease-in-out;

        &:hover{
            @include btnEffect($passive: false);
        }
        .icon{
            margin-right: 5px;
            font-size: 1.4rem;
        }

        @include responsive{
            margin: 50px auto 20px;
        }
    }

    small{
        color: gray;
        font-weight: bolder;
        margin-left: 20px;
        letter-spacing: 1px;

        @include responsive{
            color: black;
        }
    }

    .icons-div{
        position: absolute;
        bottom: 10px;
        width: 10%;
        display: flex;
        justify-content: space-between;
        // color: map-get($textColor, 'primary' );
        font-size: 2rem;

        @include responsive{
            margin: auto;
            width: 35%;
            margin-left: 30%;
        }
        .icons{
            cursor: pointer;
            transition: .8s ease-in-out;
            &:hover{
                transform: translateY(-1.2px);
            }
            @include responsive{
                display: none;
            }
        }
        .t{
            color: dodgerblue;
        }
        .f{
            color: rgba(65, 105, 225, 0.892);
        }
        .w{
            color: rgb(57, 167, 106);
        }
    }



}
